@page "{id:int}"
@model RequirementModel
@{
    ViewBag.Title = Localizer.GetString("title", Model.Requirement.Number, Model.Requirement.Title);
}

<h1>@ViewBag.Title</h1>
<code>@Model.Requirement.Id</code>
<p>@Model.Requirement.Description</p>

@if (Model.Requirement.Links.Any())
{
    <fieldset>
        <legend>@Localizer["related use cases"]</legend>
        <ul>
            @foreach (var link in Model.Requirement.Links)
            {
                <li>
                    @link.Target.Number - <a asp-page="use-case" asp-route-id="@link.Target.Number">@link.Target.Title</a>
                    <blockquote>@link.Comment</blockquote>
                </li>
            }
        </ul>
    </fieldset>
}

@if (Model.Requirement.Categories.Any())
{
    <fieldset>
        <legend>@Localizer["related categories"]</legend>
        <ul>
            @foreach (var category in Model.Requirement.Categories)
            {
                <li>
                    @category.Number - <a asp-page="requirement-category" asp-route-id="@category.Number">@category.Title</a>
                    <blockquote>@category.Description</blockquote>
                </li>
            }
        </ul>
    </fieldset>
}

@if (Model.Requirement.CoreStandards.Any())
{
    <fieldset>
        <legend>@Localizer["related core standards"]</legend>
        <ul>
            @foreach (var standard in Model.Requirement.CoreStandards)
            {
                <li>
                    @standard.Number - <a asp-page="core-standard" asp-route-id="@standard.Number">@standard.Title</a>
                    <blockquote>@standard.Description</blockquote>
                </li>
            }
        </ul>
    </fieldset>
}
