@page
@model RequirementsModel
@{
    ViewBag.Title = Localizer["title"];
}

@section head {
    <link href="../style/site.css" rel="stylesheet" />
}

<h1>@ViewBag.Title</h1>
<ul>
    @foreach (var category in Model.Requirements.SelectMany(x => x.Categories).Distinct())
    {
        <li>
            <fieldset>
                <legend>@category.Number - <a asp-page="requirement-category" asp-route-id="@category.Number">@category.Title</a></legend>
                <ul>
                    @foreach (var requirement in Model.Requirements.Where(x => x.Categories.Contains(category)))
                    {
                        <li><a asp-page="requirement" asp-route-id="@requirement.Number">@requirement.Number - @requirement.Title</a></li>
                    }
                </ul>
            </fieldset>
        </li>
    }
    <li>
        <fieldset>
            <legend>Uncategorised</legend>
            <ul>
                @foreach (var requirement in Model.Requirements.Where(x => !x.Categories.Any()))
                {
                    <li><a asp-page="requirement" asp-route-id="@requirement.Number">@requirement.Number - @requirement.Title</a></li>
                }
            </ul>
        </fieldset>
    </li>
</ul>
