@page "{id:int}"
@model RequirementCategoryModel
@{
    ViewBag.Title = Localizer.GetString("title", Model.RequirementCategory.Number, Model.RequirementCategory.Title);
}

@section head {
    <link href="../style/site.css" rel="stylesheet" />
}

<h1>@ViewBag.Title</h1>
<code>@Model.RequirementCategory.Id</code>
<p>@Model.RequirementCategory.Description</p>

@if (Model.RequirementCategory.Requirements.Any())
{
    <fieldset>
        <legend>Related requirements</legend>
        <ul>
            @foreach (var requirement in Model.RequirementCategory.Requirements)
            {
                <li>
                    @requirement.Number - <a asp-page="requirement" asp-route-id="@requirement.Number">@requirement.Title</a>
                    <blockquote>@requirement.Description</blockquote>
                </li>
            }
        </ul>
    </fieldset>
}
