@page "{id:int}"
@model WebApplication1.Pages.usecase.IndexModel
@{
    ViewBag.Title = Model.UseCase.Title;
}

@section head {
    <link href="../style/site.css" rel="stylesheet" />
}

<h1>@Model.UseCase.Number - @Model.UseCase.Title</h1>
<code>@Model.UseCase.Id</code>
<p>@Model.UseCase.Description</p>

@if (Model.UseCase.Links.Any())
{
    <fieldset>
        <legend>Related requirements</legend>
        <ul>
            @foreach (var category in Model.UseCase.Links.SelectMany(x => x.Requirement.Categories).Distinct())
            {
                <li>
                    <fieldset>
                        <legend>@category.Number - <a href="../requirement-category/@category.Number">@category.Title</a></legend>
                        <ul>
                            @foreach (var link in Model.UseCase.Links.Where(x => x.Requirement.Categories.Contains(category)))
                            {
                                <li>
                                    @link.Requirement.Number - <a href="../requirement/@link.Requirement.Number">@link.Requirement.Title</a>
                                    <blockquote>@link.Comment</blockquote>
                                </li>
                            }
                        </ul>
                    </fieldset>
                </li>
            }
            <li>
                <fieldset>
                    <legend>Uncategorised</legend>
                    <ul>
                        @foreach (var link in Model.UseCase.Links.Where(x => !x.Requirement.Categories.Any()))
                        {
                            <li>
                                @link.Requirement.Number - <a href="../requirement/@link.Requirement.Number">@link.Requirement.Title</a>
                                <blockquote>@link.Comment</blockquote>
                            </li>
                        }
                    </ul>
                </fieldset>
            </li>
        </ul>
    </fieldset>
}
